/cache

/sstate.tar.gz

vscode-bitbake-build/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

/expert_scripts/nexus_credential.txt

# ignore files in folder foo
/conf/tmp/*
!/conf/tmp/.gitkeep
.build_var_storage
