[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
[submodule "third_party_layers/meta-openembedded"]
	path = third_party_layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git